---
import { getConfig } from '@libs/config'
import { getChassisDocsPath } from '@libs/path'
import Code from '@shortcodes/Code.astro'
---

<div class="home-section py-3xlarge medium:py-6xlarge">
  <div class="container 2xlarge section-content py-3xlarge medium:py-6xlarge">
    <div class="row justify-content-center mb-3xlarge medium:mb-6xlarge">
      <header class="section-header col xlarge:col-10 text-center">
        <p
          class="module-title fg-primary medium:font-xlarge font-mass text-uppercase mb-xsmall medium:mb-small"
        >
          CHASSIS TOKENS
        </p>
        <h1 class="font-hero mb-small medium:mb-medium large:mb-large">
          <span class="font-normal">Sync Design Tokens Across</span>
          <span class="d-block">Brands, Themes & Platforms</span>
        </h1>
        <p class="font-lead mb-medium medium:mb-large">
          One repository for unlimited brands and applications. Unify product, design, and
          engineering around a single source of truth for colors, typography, spacing, and more—from
          Figma to production code.
        </p>
      </header>
    </div>

    <div
      class="section-features d-flex flex-column gap-medium mb-medium medium:mb-large col large:col-6 large:offset-3"
    >
      <!-- Code snippet -->
      <Code
        lang="bash"
        code="git clone git@github.com:chassis-ui/assets.git"
        containerClass="mx-auto mw-100"
      />
      <!-- Buttons -->
      <div class="d-grid medium:d-flex gap-medium medium:justify-content-center flex-wrap">
        <a href={getChassisDocsPath('')} class="button primary large">
          <svg class="icon" aria-hidden="true"><use href="#book-open-outline"></use></svg>
          <span>Get Started</span>
        </a>
        <a href={getConfig().repo} class="button default large" target="_blank" rel="noopener">
          <svg class="icon" aria-hidden="true"><use href="#github-brand"></use></svg>
          <span>View on GitHub</span>
        </a>
      </div>

      <!-- Version info -->
      <p class="fg-subtle mb-0 text-center font-medium">
        Currently <strong>v{getConfig().current_version}</strong>
        <span class="px-2xsmall">&middot;</span>
        <a href={getConfig().repo + '/blob/main/CHANGELOG.md'} class="link-secondary text-nowrap"
          >Changes</a
        >
      </p>
    </div>
  </div>
</div>
