---
import { getConfig } from '@libs/config'
import Code from '@shortcodes/Code.astro'
import { getChassisDocsPath } from '@libs/path'
---

<div class="home-section py-3xlarge py-medium-6xlarge">
  <div class="container-2xlarge section-content py-3xlarge py-medium-6xlarge">
    <div class="row justify-content-center mb-3xlarge mb-medium-6xlarge">
      <header class="section-header col col-xlarge-10 text-center">
        <p
          class="module-title fg-primary font-medium-xlarge font-mass text-uppercase mb-xsmall mb-medium-small"
        >
          CHASSIS TOKENS
        </p>
        <h1 class="font-hero mb-small mb-medium-medium mb-large-large">
          <span class="font-normal">Sync Design Tokens Across</span>
          <span class="d-block">Brands, Themes & Platforms</span>
        </h1>
        <p class="font-lead mb-medium mb-medium-large">
          One repository for unlimited brands and applications. Unify product, design, and
          engineering around a single source of truth for colors, typography, spacing, and more—from
          Figma to production code.
        </p>
      </header>
    </div>

    <div
      class="section-features d-flex flex-column gap-medium mb-medium mb-medium-large col col-large-6 offset-large-3"
    >
      <!-- Code snippet -->
      <Code lang="bash" code="git clone git@github.com:chassis-ui/tokens.git" />
      <!-- Buttons -->
      <div class="d-grid d-medium-flex gap-medium justify-content-medium-center flex-wrap">
        <a href="/getting-started" class="button primary large">
          <svg class="icon" aria-hidden="true"><use href="#book-open-solid"></use></svg>
          <span>Get Started</span>
        </a>
        <a
          href="https://github.com/chassis-ui/tokens"
          class="button default large"
          target="_blank"
          rel="noopener"
        >
          <svg class="icon" aria-hidden="true"><use href="#github-brand"></use></svg>
          <span>View on GitHub</span>
        </a>
      </div>

      <!-- Version info -->
      <p class="fg-subtle mb-0 text-center font-medium">
        Currently <strong>v{getConfig().current_version}</strong>
        <span class="px-2xsmall">&middot;</span>
        <a href={getChassisDocsPath('getting-started/download')} class="link-secondary">Download</a>
        <span class="px-2xsmall">&middot;</span>
        <a href="/docs/versions/" class="link-secondary text-nowrap">All releases</a>
      </p>
    </div>
  </div>
</div>
