---
const { title, body, icon, classes } = Astro.props
---

<div
  class={`bg-even p-medium p-large-xlarge d-flex flex-column gap-medium gap-medium-xlarge h-100${classes ? ` ${classes}` : ''}`}
>
  <div class="feature-header d-flex flex-column gap-medium gap-medium-xlarge">
    <div class="feature-thumb">
      <svg class="icon feature-icon icon-3xlarge icon-medium-4xlarge" aria-hidden="true"
        ><use href={`#${icon}`}></use></svg
      >
    </div>
    <div>
      <h3 class="feature-title font-large font-medium-xlarge mb-3xsmall mb-medium-2xsmall">
        {title}
      </h3>
      <p class="feature-body font-medium-large mb-0">
        {body}
      </p>
    </div>
  </div>
</div>
