---
const { title, body, icon } = Astro.props
---

<div class="card large border-0">
  <div class="card-content p-0">
    <div class="feature-thumb">
      <svg class="icon feature-icon"><use href={`#${icon}`}></use></svg>
    </div>

    <h4 class="card-title">{title}</h4>
    <p class="card-body">
      {body}
    </p>
  </div>
</div>
