---
import { getConfig } from '@libs/config'
import ResponsiveImage from '@shortcodes/ResponsiveImage.astro'
import Code from '@shortcodes/Code.astro'
import { getChassisDocsPath } from '@libs/path'
---

<div class="text-center mx-auto container-fluid py-6xlarge cxd-masthead">
  <div class="row">
    <div class="col-large-6 mx-auto">
      <ResponsiveImage
        imgPath="/static/logo/chassis-logo-brand.png"
        alt="Chassis UI"
        width={200}
        classes="d-none d-sm-block mx-auto mb-3"
        lazyload={false}
      />
      <h1 class="font-hero">Chassis Tokens</h1>
      <p class="font-lead">
        Powerful, extensible, and feature-packed frontend toolkit. Build and customize with Sass,
        utilize prebuilt grid system and components, and bring projects to life with powerful
        JavaScript plugins.
      </p>
      <div class="py-4xlarge">
        <div
          class="d-flex flex-column flex-large-row align-items-medium-stretch justify-content-medium-center gap-medium mb-xlarge"
        >
          <div class="d-inline-block v-align-middle fs-5">
            <Code code={`npm i @chassis-ui/tokens@${getConfig().current_version}`} lang="sh" />
          </div>
          <a
            href={getChassisDocsPath('getting-started/introduction')}
            class="button large cxd-button primary"
          >
            <svg class="icon" aria-hidden="true"><use xlink:href="#book-open-solid"></use></svg>
            <span>Read the docs</span>
          </a>
        </div>
        <p class="text-body-secondary mb-0">
          Currently <strong>v{getConfig().current_version}</strong>
          <span class="px-1">&middot;</span>
          <a href={getChassisDocsPath('getting-started/download')} class="link-secondary"
            >Download</a
          >
          <span class="px-1">&middot;</span>
          <a href="/docs/versions/" class="link-secondary text-nowrap">All releases</a>
        </p>
      </div>
    </div>
  </div>
</div>
