---
// Documentation section
---

<section class="home-section py-3xlarge py-medium-6xlarge bg-even">
  <div class="container-2xlarge section-content">
    <div class="row mb-3xlarge mb-medium-6xlarge">
      <div class="section-header col col-large-10 col-xlarge-8 text-center mx-auto">
        <h2
          class="section-title font-3xlarge font-medium-4xlarge font-large-5xlarge mb-xsmall mb-medium-small mb-large-medium"
        >
          Ready to Scale Your Design System?
        </h2>
        <p class="section-body font-medium-large font-large-xlarge m-0">
          Explore how Chassis Tokens fits into your workflow, from first setup to production
          rollout.
        </p>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-medium-3 g-medium g-medium-xlarge">
      <div class="col">
        <h3 class="font-large font-medium-xlarge mb-medium mb-medium-large">Quick Start</h3>
        <ul class="list-unstyled d-flex flex-column gap-small font-medium-large">
          <li>
            <a href="/getting-started/introduction" class="link-primary">Introduction</a>
          </li>
          <li>
            <a href="/getting-started/tokens-studio" class="link-primary">Tokens Studio Setup</a>
          </li>
          <li>
            <a href="/getting-started/style-dictionary" class="link-primary">Style Dictionary</a>
          </li>
          <li>
            <a href="/getting-started/figma-variables" class="link-primary">Figma Variables</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <h3 class="font-large font-medium-xlarge mb-medium mb-medium-large">Design Tokens</h3>
        <ul class="list-unstyled d-flex flex-column gap-small font-medium-large">
          <li>
            <a href="/design-tokens/color-tokens" class="link-primary">Color System</a>
          </li>
          <li>
            <a href="/design-tokens/typography-tokens" class="link-primary">Typography</a>
          </li>
          <li>
            <a href="/design-tokens/size-tokens" class="link-primary">Sizing & Spacing</a>
          </li>
          <li>
            <a href="/design-tokens/shadow-tokens" class="link-primary">Shadows</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <h3 class="font-large font-medium-xlarge mb-medium mb-medium-large">Integration</h3>
        <ul class="list-unstyled d-flex flex-column gap-small font-medium-large">
          <li>
            <a href="/use-in-project/web-applications" class="link-primary">Web Applications</a>
          </li>
          <li>
            <a href="/use-in-project/ios-applications" class="link-primary">iOS Applications</a>
          </li>
          <li>
            <a href="/use-in-project/android-applications" class="link-primary"
              >Android Applications</a
            >
          </li>
          <li>
            <a
              href="https://github.com/chassis-ui/tokens"
              class="link-primary"
              target="_blank"
              rel="noopener">GitHub Repository</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="d-flex gap-medium justify-content-center mt-3xlarge mt-medium-6xlarge">
      <a href="/getting-started" class="button primary large">Get Started</a>
      <a href="/docs/" class="button default large">View Documentation</a>
    </div>
  </div>
</section>
