---
interface Props {
  active?: boolean
  class?: string
  href: string
  rel?: HTMLAnchorElement['rel']
  target?: HTMLAnchorElement['target']
  track?: boolean
}

const { active, class: className, ...props } = Astro.props

---

<li class="nav-item col-6 col-large-auto">
  <a
    aria-current={active ? true : undefined}
    class:list={['nav-link', className, { active }]}
    {...props}
  >
    <slot />
  </a>
</li>
