$prefix: cx- !default;

// fusv-disable
$color-mode-type:               data !default; // `data` or `media-query`

$enable-accordion-sizes:        true !default;
$enable-accordion-contexts:     true !default;
$enable-button-pointers:        true !default;
$enable-component-gradients:    false !default;
$enable-component-shadows:      false !default;
$enable-container-classes:      true !default;
$enable-cssgrid:                true !default;
$enable-dark-mode:              true !default;
$enable-deprecation-messages:   true !default;
$enable-elevation-shadows:      true !default;
$enable-grid-classes:           true !default;
$enable-important-utilities:    true !default;
$enable-negative-margins:       true !default;
$enable-padding-box:            true !default;
$enable-reduced-motion:         true !default;
$enable-rfs:                    true !default;
$enable-rounded-borders:        true !default;
$enable-smooth-scroll:          true !default;
$enable-table-active-border:    true !default;
$enable-table-border-radius:    true !default;
$enable-table-font-tokens:      true !default;
$enable-transitions:            true !default;
$enable-validation-icons:       true !default;
$enable-visited-links:          false !default;
// fusv-enable

// Import tokens from the Chassis Tokens package
@import "../../../dist/web/mundi-web/color-light";
@import "../../../dist/web/mundi-web/main";


$cx-size-unit-0: $cx-size-base-0 !default;
$cx-size-unit-1: $cx-size-base-1 !default;
$cx-size-unit-2: $cx-size-base-2 !default;
$cx-size-unit-3: $cx-size-base-3 !default;
$cx-size-unit-4: $cx-size-base-4 !default;
$cx-size-unit-5: $cx-size-base-5 !default;
$cx-size-unit-6: $cx-size-base-6 !default;
$cx-size-unit-7: $cx-size-base-7 !default;
$cx-size-unit-8: $cx-size-base-8 !default;
$cx-size-unit-9: $cx-size-base-9 !default;
$cx-size-unit-10: $cx-size-base-10 !default;
$cx-size-unit-12: $cx-size-base-12 !default;
$cx-size-unit-14: $cx-size-base-14 !default;
$cx-size-unit-16: $cx-size-base-16 !default;
$cx-size-unit-18: $cx-size-base-18 !default;
$cx-size-unit-20: $cx-size-base-20 !default;
$cx-size-unit-22: $cx-size-base-22 !default;
$cx-size-unit-24: $cx-size-base-24 !default;
$cx-size-unit-26: $cx-size-base-26 !default;
$cx-size-unit-28: $cx-size-base-28 !default;
$cx-size-unit-30: $cx-size-base-30 !default;
$cx-size-unit-32: $cx-size-base-32 !default;
$cx-size-unit-36: $cx-size-base-36 !default;
$cx-size-unit-40: $cx-size-base-40 !default;
$cx-size-unit-44: $cx-size-base-44 !default;
$cx-size-unit-48: $cx-size-base-48 !default;
$cx-size-unit-52: $cx-size-base-52 !default;
$cx-size-unit-56: $cx-size-base-56 !default;
$cx-size-unit-60: $cx-size-base-60 !default;
$cx-size-unit-64: $cx-size-base-64 !default;
$cx-size-unit-68: $cx-size-base-68 !default;
$cx-size-unit-72: $cx-size-base-72 !default;
$cx-size-unit-76: $cx-size-base-76 !default;
$cx-size-unit-80: $cx-size-base-80 !default;
$cx-size-unit-88: $cx-size-base-88 !default;
$cx-size-unit-96: $cx-size-base-96 !default;
$cx-size-unit-104: $cx-size-base-104 !default;
$cx-size-unit-112: $cx-size-base-112 !default;
$cx-size-unit-120: $cx-size-base-120 !default;
$cx-size-unit-128: $cx-size-base-128 !default;
$cx-size-unit-136: $cx-size-base-136 !default;
$cx-size-unit-160: $cx-size-base-160 !default;
$cx-size-unit-192: $cx-size-base-192 !default;
$cx-size-unit-256: $cx-size-base-256 !default;
$cx-size-unit-320: $cx-size-base-320 !default;
$cx-size-unit-512: $cx-size-base-512 !default;
$cx-size-unit-1024: $cx-size-base-1024 !default;
$cx-size-unit-05: $cx-size-base-05 !default;
$cx-size-unit-d05: $cx-size-base-d05 !default;
$cx-size-unit-d15: $cx-size-base-d15 !default;
$cx-size-unit-d25: $cx-size-base-d25 !default;
$cx-size-unit-n1: $cx-size-base-n1 !default;
$cx-size-unit-n2: $cx-size-base-n2 !default;
$cx-size-unit-n3: $cx-size-base-n3 !default;
$cx-size-unit-n4: $cx-size-base-n4 !default;
$cx-size-unit-n5: $cx-size-base-n5 !default;
$cx-size-unit-n6: $cx-size-base-n6 !default;
$cx-size-unit-n7: $cx-size-base-n7 !default;
$cx-size-unit-n8: $cx-size-base-n8 !default;
$cx-size-unit-n9: $cx-size-base-n9 !default;
$cx-size-unit-n10: $cx-size-base-n10 !default;
$cx-size-unit-n12: $cx-size-base-n12 !default;
$cx-size-unit-n14: $cx-size-base-n14 !default;
$cx-size-unit-n16: $cx-size-base-n16 !default;
$cx-size-unit-n18: $cx-size-base-n18 !default;
$cx-size-unit-n20: $cx-size-base-n20 !default;
$cx-size-unit-n24: $cx-size-base-n24 !default;
$cx-size-unit-nd05: $cx-size-base-nd05 !default;
$cx-size-unit-nd15: $cx-size-base-nd15 !default;
$cx-size-unit-nd25: $cx-size-base-nd25 !default;

$cx-space-unit-0: $cx-space-base-0 !default;
$cx-space-unit-1: $cx-space-base-1 !default;
$cx-space-unit-2: $cx-space-base-2 !default;
$cx-space-unit-3: $cx-space-base-3 !default;
$cx-space-unit-4: $cx-space-base-4 !default;
$cx-space-unit-5: $cx-space-base-5 !default;
$cx-space-unit-6: $cx-space-base-6 !default;
$cx-space-unit-7: $cx-space-base-7 !default;
$cx-space-unit-8: $cx-space-base-8 !default;
$cx-space-unit-9: $cx-space-base-9 !default;
$cx-space-unit-10: $cx-space-base-10 !default;
$cx-space-unit-12: $cx-space-base-12 !default;
$cx-space-unit-16: $cx-space-base-16 !default;
$cx-space-unit-20: $cx-space-base-20 !default;
$cx-space-unit-24: $cx-space-base-24 !default;
$cx-space-unit-28: $cx-space-base-28 !default;
$cx-space-unit-32: $cx-space-base-32 !default;
$cx-space-unit-36: $cx-space-base-36 !default;
$cx-space-unit-40: $cx-space-base-40 !default;
$cx-space-unit-44: $cx-space-base-44 !default;
$cx-space-unit-48: $cx-space-base-48 !default;
$cx-space-unit-52: $cx-space-base-52 !default;
$cx-space-unit-56: $cx-space-base-56 !default;
$cx-space-unit-60: $cx-space-base-60 !default;
$cx-space-unit-64: $cx-space-base-64 !default;
$cx-space-unit-68: $cx-space-base-68 !default;
$cx-space-unit-72: $cx-space-base-72 !default;
$cx-space-unit-76: $cx-space-base-76 !default;
$cx-space-unit-80: $cx-space-base-80 !default;
$cx-space-unit-88: $cx-space-base-88 !default;
$cx-space-unit-96: $cx-space-base-96 !default;
$cx-space-unit-104: $cx-space-base-104 !default;
$cx-space-unit-112: $cx-space-base-112 !default;
$cx-space-unit-120: $cx-space-base-120 !default;
$cx-space-unit-128: $cx-space-base-128 !default;
$cx-space-unit-136: $cx-space-base-136 !default;
$cx-space-unit-05: $cx-space-base-05 !default;
$cx-space-unit-d05: $cx-space-base-d05 !default;
$cx-space-unit-d15: $cx-space-base-d15 !default;
$cx-space-unit-d25: $cx-space-base-d25 !default;
$cx-space-unit-n1: $cx-space-base-n1 !default;
$cx-space-unit-n2: $cx-space-base-n2 !default;
$cx-space-unit-n3: $cx-space-base-n3 !default;
$cx-space-unit-n4: $cx-space-base-n4 !default;
$cx-space-unit-n5: $cx-space-base-n5 !default;
$cx-space-unit-n6: $cx-space-base-n6 !default;
$cx-space-unit-n8: $cx-space-base-n8 !default;
$cx-space-unit-nd25: $cx-space-base-nd25 !default;
$cx-space-unit-nd15: $cx-space-base-nd15 !default;
$cx-space-unit-nd05: $cx-space-base-nd05 !default;

$cx-opacity-level-10: $cx-opacity-base-10 !default;
$cx-opacity-level-20: $cx-opacity-base-20 !default;
$cx-opacity-level-30: $cx-opacity-base-30 !default;
$cx-opacity-level-40: $cx-opacity-base-40 !default;
$cx-opacity-level-50: $cx-opacity-base-50 !default;
$cx-opacity-level-60: $cx-opacity-base-60 !default;
$cx-opacity-level-70: $cx-opacity-base-70 !default;
$cx-opacity-level-80: $cx-opacity-base-80 !default;
$cx-opacity-level-90: $cx-opacity-base-90 !default;
$cx-opacity-level-95: $cx-opacity-base-95 !default;
$cx-opacity-level-zero: $cx-opacity-base-zero !default;
$cx-opacity-level-05: $cx-opacity-base-05 !default;
$cx-opacity-level-solid: $cx-opacity-base-solid !default;
